.navbar {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    width: 40%;
    height: 100%;
}
.navbar-logo img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.links-navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.links-navbar a{
    color: #278844;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    transition: all 0.3s;
}
.links-navbar a:hover{
    color: #fff;
    font-size: 22px;
    background: #278844;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s;
}